*.suo
*.user
*.sdf
*.pyc
*.sln
*.pdb
*.vs
*.iobj
*.ipdb
*.blend1
Genesis/libs/Genesis/
Game/bin/config.xml
Game/bin/Hexterminate
Game/bin/Hexterminate.exe
Game/bin/imgui.ini
Game/bin/log.txt
Game/bin/Screenshot*.bmp
Game/packages/
obj/
.build-premake/
build/